doctype html
html(lang="en")
  head
    script(src='/main.js')
    script(src='/decrypt.js')
    link(rel='icon' type='image/png' href='/favicon.png')
  body
    div#app
    script(type='text/javascript').
      const app = Elm.Main.init({node: document.getElementById('app')});
      app.ports.decrypt.subscribe(ciphers => aesGcmDecrypt(ciphers).then(app.ports.decryptReceiver.send));
